FRONTEND_URL=http://localhost:3000
TANDILPROP_API_URL=http://localhost:3000
INMOBILIARIA_SLUG=aca va el slug de una inmobiliaria que tengas en la db
CONTACT_EMAIL=propiedadesvilanova@gmail.com
RESEND_API_KEY=aca va tu API key de Resend
EMAIL_FROM="TandilProp <contacto@tandilprop.com.ar>"
